<nav class="navbar navbar-default colorwhite">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand logo font" href="#">E_Cards_Designs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text bold"><%= link_to "| Home |", root_path %></li> 
        <li class="navbar-text bold"><%= link_to "| Log out |", signout_path %></li>
    </ul>
  </div>
</nav>

<script>
UPLOADCARE_PUBLIC_KEY = 'e638bf2c12305f92b0c7';
</script>
<%= stylesheet_link_tag    'pages'%>

  <div class="text-center">
    <span class="head">Would you like to make your own card ?, give it a try.. </span><div class="btn btn-default"><%= link_to "Make my card >", new_user_card_path(@user) %></div>
  </div>
  <div class="allcards text-center"> 
    <div class="col-sm-12">     
        <% @cards.each do |card| %>
          <%# user.cards.each do |card| %>
          <% if card.is_shareable == true %>

            <a href="<%=new_user_card_path(@user)%>?template=<%=card.id%>">
             <div class = 'col-sm-2 rect' ><img src="<%= card.image_url %>"width ="100%" height="100%" alt="">
             </a>
               <div>
                 <!-- <span class="pull-left">by: Sachi</span>&nbsp; &nbsp; &nbsp;
                 <span class="pull-right"> Like <span class="badge">42</span></span> -->
              </div>
            </div>
            
          
          <% end %>
        <% end %>
    </div>
 </div>

  

