

<nav class="navbar  navbar-default colorwhite">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand logo font" href="#">E_Cards_Designs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text bold"><%= link_to "| Home |", user_path(@current_user) %></li> 
        <li class="navbar-text bold"><%= link_to "| Log out |", signout_path %></li>
      
    </ul>
  </div>
</nav>

<!-- newcard form -->
     <%= stylesheet_link_tag    'pages'%>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 box">
      <div class="image">
        <img src="" class="img"  alt="">
       <!--  <div class="Photo" style="background-image: url(<%= @card.image_url %>); background-size: cover; background-position:center;"></div> -->
      </div>
      <div class="cardtext">
        <%= form_for @card,url: user_cards_path, html: {:class => "form-group"} do |f| %>
          <%= f.text_field :title,:placeholder => "To,",:size => "26x18"  %>
          <p></p>
          <%= f.text_area :desc,:placeholder => "message" ,:size => "20x12", id: "maintext"%>
          <p class="text-center" style="display:inline-block;">
            <input type="hidden" role="uploadcare-uploader"  data-images-only="" data-image-shrink="300x180 80%" data-public-key="e638bf2c12305f92b0c7" value="<%= @card.image_url %>" name="card[image_url]" class="btn btn-info">
          </p>
          <p class="text-center" style="display:inline-block;">
            <%= f.submit "Create", class: "btn btn-warning btn-sm"  %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="controlls col-sm-3"> 
    <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Background <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="javascript:void(0)"><img src="https://makinglemonadeblog.com/wp-content/uploads/2013/01/chalkboard_background_2.jpg" class="smimg" id="backbtn" alt=""></a></li>
          <li><a href="javascript:void(0)"><img src="" class="smimg" id="backwhtbtn" alt=""></a></li>
        </ul>
      </div>
      <p></p>
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Font Family  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Happy",root_path, class: "modern" %></li>
          <li><%= link_to "Happy",root_path, class: "cursive" %></li>
        </ul>
      </div>
      <p></p>
      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Font Color   <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Dark",root_path, class: "dark"%></li>
          <li><%= link_to "Light",root_path, class: "light"%></li>
        </ul>
      </div>  
    </div> <!-- closing the row -->
  </div>

</div>
<div class="navbar navbar-default  navbar-fixed-bottom footer">
<div class="navbar-text text-center">
<!--  -->
   <img src="https://i.imgur.com/qhi8onr.png" width="50%" alt="">
</div>

<!-- <script type="text/javascript">
  tinyMCE.init({
    selector: '.tinymce',
    // inline: true,
    // fixed_toolbar_container: "#mytoolbar",
    menubar : false,
    resize: "both",
    toolbar: [
        "undo redo | styleselect | bold italic",
        "alignleft aligncenter alignright"
    ]
  });
</script> -->

<script>
  $(document).ready(function(){
    var widget = uploadcare.Widget('[role=uploadcare-uploader]');
    widget.onUploadComplete(function(info) {
      image = info.cdnUrl;
      $(".image").css('background-image', 'url(' + image + ')');
      // $(".img").attr("src", info.cdnUrl);
    });
    <% if @templateCard %>
    $(".image").css('background-image', 'url(<%= @templateCard.image_url %>)');
    <% end  %>
  });
</script>
