<nav class="navbar navbar-default colorwhite">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand logo font" href="#">E_Cards_Designs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
       <li class="navbar-text bold"><%= link_to "| Home |", user_path(@current_user) %></li> 
        <li class="navbar-text bold"><%= link_to "| Log out |", signout_path %></li>
      
    </ul>
  </div>
</nav>
<%= stylesheet_link_tag    'pages'%>
<div class="gray">
<br>
  <div class="text-center">
    

              <%= form_tag(email_path(@card)) do %>
                <%= text_field_tag :name, nil,placeholder: "name", class:"form-group" %>
                 <%= text_field_tag :email,nil, placeholder: "email" %>
                <br>
                <%= submit_tag "Send",class: "btn btn-warning" %>
              <% end %>
    
    
  </div>
  <div class="text-center">

  <h3 class="thnk"> Thank you, for choosing E_Cards_design!</h3>
  </div>
  <br>
</div>



<div class="navbar navbar-default  navbar-fixed-bottom footer">
<div class="navbar-text text-center">
  <img src="https://i.imgur.com/UlmwCXh.png" width="50%" alt="">
</div>



 