<nav class="navbar navbar-default colorwhite">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand logo font" href="#">E_Cards_Designs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
       <li class="navbar-text bold"><%= link_to "| Home |", user_path(@current_user) %></li> 
      
      
    </ul>
  </div>
</nav>

     <%= stylesheet_link_tag    'pages'%>
<div class="container-fluid">
  <div class="row">
  <!-- <%= @card.image_url %>bhbjb  -->
    <div class="col-sm-6 col-sm-offset-3 box">
      <div class="image" style="background-image: url(<%= @card.image_url %>); background-size: cover; background-position:center;">
        <!--  -->
      </div>
      <div class="cardtext">
        <%= @card.title %>
        <p></p>
        <%= @card.desc %>
       
      </div>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <%= link_to "send", sendmail_path, :class => "btn btn-warning" %>
    <!-- <div class="btn btn-default col-sm-2 col-sm-offset-5">Send</div> -->

  </div>
</div>


<div class="navbar navbar-default  navbar-fixed-bottom footer">
<div class="navbar-text text-center">
  <img src="http://i.imgur.com/vwzC4fR.png" width="50%" alt="">
</div>





